{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space-Rental-Platform</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/login_page.css' %}" />
  </head>
  <body>
    <header
      <h1>SRP</h1>
    </header>
    <div class="body-wrapper">
      <div class="login-wrapper">
        <h2>Login</h2>
        {% if error %}
        <p style="color: red">{{ error }}</p>
        {% endif %}
        <form action="{% url 'login' %}" method="post" id="login-form">
          {% csrf_token %}
          <div class="form-group">
            <input type="email" name="email" placeholder="Email" required />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="form-group">
            <button id="login-btn" class="login-btn" type="submit">
              로그인
            </button>
          </div>
        </form>
        <div class="form-group">
          <button
            id="register-btn"
            class="register-btn"
            type="button"
            onclick="document.location.href='{% url 'signup' %}'"
          >
            회원가입
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
