<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공간 수정</title>
  </head>
  <body>
    <h1>공간 수정</h1>

    <form method="post">
      {% csrf_token %}
      <label for="space_name">공간 이름:</label>
      <input
        type="text"
        id="space_name"
        name="space_name"
        value="{{ space.space_name }}"
        required
      /><br /><br />

      <label for="description">설명:</label>
      <textarea id="description" name="description" rows="4" cols="50">
{{ space.description }}</textarea
      ><br /><br />

      <label for="address">주소:</label>
      <input
        type="text"
        id="address"
        name="address"
        value="{{ space.address }}"
        required
      /><br /><br />

      <label for="capacity">수용 인원:</label>
      <input
        type="number"
        id="capacity"
        name="capacity"
        value="{{ space.capacity }}"
        min="0"
        required
      /><br /><br />

      <label for="price_per_date">하루 당 가격:</label>
      <input
        type="number"
        id="price_per_date"
        name="price_per_date"
        value="{{ space.price_per_date }}"
        min="0"
        required
      /><br /><br />

      <p>공간 카테고리를 다시 선택하세요:</p>
      <div>
        {% for category in all_categories %}
        <input
          type="checkbox"
          id="category_{{ category.category_id }}"
          name="category_name"
          value="{{ category.category_id }}"
          {%
          if
          category.category_id
          in
          selected_categories
          %}checked{%
          endif
          %}
        />
        <label for="category_{{ category.category_id }}"
          >{{ category.category_name }}</label
        ><br />
        {% endfor %}
      </div>

      <br />
      <button type="submit">수정하기</button>
    </form>
    <a href="{% url 'space_reg' %}">돌아가기</a>
  </body>
</html>
